body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #7fb9c7, #7ba0feba)
  }

  h2{
    font-weight: 100;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  }
  
  .container {
    width: 300px;
    text-align: center;
  }
  
  input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  li.highlight {
    background-color: #492dd567;
  }
  